.bread-box{
  padding: 0 20px 30px;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  .bread-swiper{
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    .swipe-item{
      display: inline-block;
      padding: 2px 8px;
      a{
        padding: 5px 30px 5px 10px;
        display: block;
        border: 1px solid #eee;
        border-radius: 4px;
        font-size: 14px;
        color: #666;
        &.action{
          background: #1890ff;
          color: #fff;
        }
      }
    }
  }
}