.admin-box{
  background: #fff;
  .admin-head{
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    .search-group{
      margin-right: 50px;
      .search-lable{
        padding-right: 30px;
      }
      .select{
        width: 200px
      }
    }
  }
}