.cord-box{
  width: 100%;
  background: #fff;
  border-top: 2px solid #eee;
  .cord-head{
    height: 40px;
    padding: 0 20px;
    border-bottom: 1px solid #eee;
    p{
      margin: 0;
      padding: 0;
    }
  }
  .cord-cont{
    padding: 15px;
  }
}