.main-box{
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  box-sizing: border-box;
  background: #fff;
}
.admin-box{
  width: 100%;
  height: 100%;  
  background: #101010;
}

.tabs-box{
  background: #fff;
  height: 40px;
  padding: 0 20px;
  border-bottom: 1px solid #eee;
  h2{
    font-size: 18px;
    color: #333;
    font-weight: 500;
  }
  p{
    font-size: 14px;
    color: #333;
  }
}

.main-content{
  
}
// input 公用样式
.input-box{
  width: 100%;
  height: 32px;
  font-size: 14px;
  border: 1px solid #eee;
  outline: none;
  padding: 0 10px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #999;
}


