.tag-box{
  width: 100%;
  .tag-input{
    margin-right: 20px;
    min-height: 300px;
    .tap-dec{ 
      font-size: 12px;
      margin-top: 10px;
      color: #999;
    }
  }
  .tag-btn{
    margin-left: 20px;  
  }
  .tag-show{
    min-height: 300px;
  }
  .tag-list{
    .tag-item{
      padding: 5px 15px;
      background: #eee;
      border-radius: 4px;
      margin: 5px;  
      &:hover{
        background: #1ab394;
        color: #fff;
      }
    }
  }
}